@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: #ffffff;
  --off-white: #f5f5f5;
  --gray: #263238;
  --base-blue: #1a237e;
  --base-gray: #757575;
  --base-red: #ef9a9a;
  --base-green: #81c784;
  --base-yellow:rgb(247, 192, 13);

  --text-blue: #1a237e;
  --text-gray: #263238;
  --text-light-gray: #757575;
  --text-off-white: #f5f5f5;

  --body: var(--white);
  --typography: var(--gray);

  --base-pad-x: 16px;
  --base-pad-y: 24px;
}

@media (min-width: 768px) {
  :root {
    --base-pad-x: 24px;
    --base-pad-y: 24px;
  }
}

@media (min-width: 1024px) {
  :root {
    --base-pad-x: 32px;
    --base-pad-y: 32px;
  }
}

html.dark {
  --body: var(--gray);
  --typography: var(--white);
  --base-red: #ffcdd2;
  --base-green: #c8e6c9;
  --base-yellow: #fff9c4;
  --text-blue: #90caf9;
  --text-gray: #cfd8dc;
  --text-light-gray: #b0bec5;
  --text-off-white: #eceff1;
}

@theme inline {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --color-white: var(--white);
  --color-gray: var(--text-gray);
  --color-blue: var(--text-blue);
  --color-red: var(--base-red);
  --color-green: var(--base-green);
  --color-yellow: var(--base-yellow);
  --color-light-gray: var(--text-light-gray);
  --color-off-white: var(--text-off-white);
  --color-body: var(--body);
  --color-typography: var(--typography);
}

@utility p-base {
  padding-inline: var(--base-pad-x);
  padding-block: var(--base-pad-y);
}

@utility px-base {
  padding-inline: var(--base-pad-x);
}

@utility py-base {
  padding-block: var(--base-pad-y);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: var(--gray);
    --typography: var(--white);
    --base-red: #ffcdd2;
    --base-green: #c8e6c9;
    --base-yellow: #fff9c4;
    --text-blue: #90caf9;
    --text-gray: #cfd8dc;
    --text-light-gray: #b0bec5;
    --text-off-white: #eceff1;
  }
}

body {
  background: var(--body);
  color: var(--typography);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
